{% extends 'base.html' %}
{% block content %}
	{% if theUser %}
		<h1>Create Poll</h1>
		<form method='post'>
			<h3>Title</h3>
			<input type='text' name='title' required>
			<h3>Options</h3>
			<input type='text' name='option1' required><br>
			<input type='text' name='option2' required><br>
			<span class='addOptions'></span>
			<button class='options'>More Options?</button>
			<input type='submit'>
		</form>

	{% else %}
		<h3><a class='noLine' href="/login">Login to create a poll</a></h3>
	{% endif %}

	<h3>Recent polls</h3>
	{% for i in range(0,polls.length) %}
		<div id="theDiv{{ i }}">
			<h2>{{ polls[i].title }}</h2> <br>
			<a href="/poll/{{ polls[i]._id }}"> <b>VOTE?</b> </a> <br><br>
			<!-- <div id="js-legend{{ i }}" class='chart-legend'></div> -->
		</div> 
		<div class='textChartRow'>
			{% for option,votes in polls[i].options %}
				{{ option }} : {{ votes }} </br>
			{% endfor %}
		</div>
		<br><hr>
	{% endfor %}

	<div id='chartStore'></div>
	<canvas id="myChart" width="400" height="400"></canvas>
	<textarea name="hide" id='forClient' style="display:none">{{ stringifiedPolls }}</textarea>
	<!-- Identify where the chart should be drawn. 
	<div id="myPieChart"></div> -->
{% endblock %}